<!DOCTYPE html>
<html>
<head>
    <title>Car Details</title>
</head>
<body>
    <h1>Car Details</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.make.label }}<br>
            {{ form.make(size=20) }}<br>
            {% for error in form.make.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.model.label }}<br>
            {{ form.model(size=20) }}<br>
            {% for error in form.model.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year() }}<br>
            {% for error in form.year.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
