<!DOCTYPE html>
<html>
<head>
    <title>Usage Details</title>
</head>
<body>
    <h1>Usage Details</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.annual_mileage.label }}<br>
            {{ form.annual_mileage() }}<br>
            {% for error in form.annual_mileage.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.usage_type.label }}<br>
            {{ form.usage_type(size=20) }}<br>
            {% for error in form.usage_type.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
